@media (min-width:400px){.top-line img{max-width:300px;}
}
@media (min-width:576px){}
@media (min-width:768px){header .container{min-width:768px;}
nav{display:block !important;}
nav ul li{padding:0 7px;}
.mnu_wrap{display:none;}
}
@media (min-width:992px){nav ul li{padding:0 15px;}
.search_wrap{min-width:850px;}
.search_line{margin:50px 0 120px;}
.x-select-item-wrap{border-bottom:none;}
.tile-rent, .tile-new, .tile-vilage, .tile-map{margin-left:-5px;}
.tile-map{margin-left:-3px;}
}
@media (min-width:1200px){}
@media (max-width:575px){}
@media (max-width:767px){.x-select-item-wrap{margin:5px 0 !important;}
#price{padding-right:5px !important;border:none;}
nav{display:none;position:relative;margin:0 -15px;}
nav ul{background:rgba(53, 53, 53, 1);position:absolute;width:100%;z-index:99;}
nav ul li{display:block;}
}
@media (max-width:991px){.hidden-lg-down{display:none;}
}
@media (max-width:1199px){}